@media (max-width: 600px) {

	.linkRow {
		box-sizing: border-box; 
		/* top | right | bottom | left */
		margin: 0vh 5vw 0vh 5vw; 
		display: flex; 
		justify-content: center; 
		align-items: center; 
		flex-direction: column;

		border: 1px solid black; 
		border-radius: 25px; 
	}

	.linkRow:hover {
		border-color: $palette_two; 
	}
}