@media (max-width: 400px) {

	.row {
		display: flex; 
		justify-content: center; 
		align-items: center; 
		flex-direction: column;

		border: 1px solid black; 
		border-radius: 25px; 
	}

	.row:hover {
		border-color: $palette_two; 
	}
}