$palette_one: #686256; 
$palette_two: #c1502e; 
$palette_three: #587e76; 
$palette_four:  #a96e5b; 

.linkContainer {
	display: flex; 
	justify-content: center; 
	flex-direction: column; 
}

#photoContainer {
	display: none; 
}

#blogContainer {
	display: none; 
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* The typewriter cursor effect */
@keyframes opacity {
  from { opacity: 0 }
  to { opacity: 1 }
}

#homeContainer {
	text-align: center; 
	display: flex; 
	justify-content: center; 
	/* top | right | bottom | left */
	margin: 0px 0px 20px 0px;
	h1 {
		font-family: AmericanTypewriter; 
		overflow: hidden; 
		border-right: .15em solid $palette_two;
		white-space: nowrap; 
		margin: 0 auto; 
		letter-spacing: 2px; 
		animation: typing 3.5s steps(28, end), blink-caret .75s step-end infinite,
		opacity 3.5s; 
	}
}

#map {
	display: flex; 
	justify-content: center; 
	align-items: center; 

	/* top | right | bottom | left */
	margin: 0px 0px 20px 0px;
}

#header {
	box-sizing: border-box; 
	/* top | right | bottom | left */
	margin: 2vh 0vw 1vh 0vw; 

	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 50px;
}

.linkRow {
	display: flex; 
	justify-content: center; 
	flex-direction: row;
}

#homeLink {
	color: $palette_two; 
	transform: scale(1.2); 
}

.link {
	/* Decoration */
	color: black; 
	text-decoration: none; 
	font-size: 20px; 
	font-family: 'Source Sans Pro', sans-serif;

	/* Spacing */
	margin: 5vw; 

	/* Transition */
	transition: all .2s ease-in-out; 
}

.link:hover {
	transform: scale(1.2) !important;
	color: $palette_two !important;
	text-decoration: none; 
}

@import 'mobile';
@import 'bootstrap';  



